[submodule "TelegramBot_Weather_Forecast"]
	path = TelegramBot_Weather_Forecast
	url = https://github.com/OleksiiKH0240/TelegramBot_Weather_Forecast
[submodule "Crypto_Rest_Api"]
	path = Crypto_Rest_Api
	url = https://github.com/OleksiiKH0240/Crypto_Rest_Api
[submodule "Northwind_Traders"]
	path = Northwind_Traders
	url = https://github.com/OleksiiKH0240/Northwind_Traders
[submodule "Clinics"]
	path = Clinics
	url = https://github.com/OleksiiKH0240/Clinics
[submodule "Photo_Drop_Backend"]
	path = Photo_Drop_Backend
	url = https://github.com/OleksiiKH0240/Photo_Drop_Backend