[submodule "TelegramBot_Weather_Forecast"]
	path = TelegramBot_Weather_Forecast
	url = https://github.com/OleksiiKH0240/TelegramBot_Weather_Forecast
[submodule "Crypto_Rest_Api"]
	path = Crypto_Rest_Api
	url = https://github.com/OleksiiKH0240/Crypto_Rest_Api
